.latest-card {
  display: grid;
  grid-template-columns: 10% 90%;
  text-align: left;
}
.latest-card h3 {
  margin: 0px;
  color: #000;
  grid-column-start: 2;
}
.latest-card h4 {
  margin: 8px 0px;
  padding: 0px;
  color: var(--titlegrey);
  grid-column-start: 2;
  grid-row-start: 2;
}

.latest-card p {
  margin: 8px 0px 8px 0px;
  color: var(--bodygrey);
  grid-column-start: 2;
}

.latest-card a {
  margin: 8px 0px;
  color: var(--blue);
  text-decoration: none;
  grid-column-start: 2;
}

.latest-card hr {
  border: 1px solid #f2f2f2;
}

.latest-icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-column-start: 1;
  grid-row-start: 1;
}

.latest-icon img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
