:root {
  --blue: #00adb5;
  --offwhite: #eeeeee;
  --darkgrey: #393e46;
  --titlegrey: #9b9b9b;
  --bodygrey: #6c6c6c;
}
.jumbotron {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: var(--darkgrey);
  margin: 0;
  padding: 24px 138px;
}

.jumbotron h1 {
  grid-column-start: 1;
  grid-column-end: 2;
  color: #fff;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  margin: 0;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: span 4;
  font-size: 1em;
  border-radius: 1em;
}

.jumbotron input,
button {
  font-size: inherit;
  padding: 0.3em;
  margin: 0.1em 0.2em;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.jumbotron input {
  width: 100%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  margin-left: 0px;
  border-radius: 0px 7px 7px 0px;
}

.jumbotron input:focus {
  outline: none;
}

.jumbotron button {
  padding: 0.3em 2.3em;
  border: 1px solid var(--blue);
  background: var(--blue);
  color: #fff;
  border-radius: 7px;
}

.jumbotron button:hover {
  border: 1px solid var(--blue);
  color: var(--blue);
  background: var(--darkgrey);
  cursor: pointer;
}

.jumbotron .mag-glass {
  background: white;
  color: var(--titlegrey);
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: none;
  min-width: 20px;
  padding: 0.35em 0px 0.35em 8px;
  border-radius: 7px 0px 0px 7px;
}
